{% extends 'base.html.twig' %}

{% block title %}Welcome to PDFpal!{% endblock %}

{% block body %}
    <h1>Welcome to PDFpal !</h1>
    <h2>Your PDF conversion tool.</h2>
    <div>
        <a href="">HTML to PDF<i data-lucide="arrow-right"></i></a><a href="">URL to PDF<i data-lucide="arrow-right"></i></a>
    </div>
{% endblock %}
