{% extends 'base.html.twig' %}

{% block title %}Welcome to PDFpal!{% endblock %}

{% block body %}
    <h1>Welcome to PDFpal!</h1>
    <h2>Your PDF conversion companion.</h2>
    <div>
        <a href="{{ path('html_to_pdf') }}">HTML to PDF<i data-lucide="arrow-right"></i></a><a href="{{ path('url_to_pdf') }}">URL to PDF<i data-lucide="arrow-right"></i></a>
    </div>
{% endblock %}
